# IDE
.idea
.vscode

# Tools
.bundle

# Mac
.DS_Store

# Windows
Thumbs.db

# Logs
access.log
debug.log
error.log

# Pearls
/html/assets/img/*
!/html/assets/img/brand/
!/html/assets/img/favicons/
/html/posts/post_*.txt